<script>
	import { onMount } from 'svelte';
	import { loadTodos } from './network';
	import Todo from './Todo.svelte';
	import CreateTodo from './CreateTodo.svelte';

	let todos = [];
	let loading = false;

	function createTodo(todo) {
		const todoToAppend = { ...todo, id: todos.length + 1 };
		todos = [...todos, todoToAppend];
	}

	function deleteTodo(todo) {
		todos = todos.filter(t => t.id !== todo.id);
	}

	function toggleDone(todo) {
		const index = todos.findIndex(t => t.id === todo.id);
		todos[index].done = !todo.done;
	}

	onMount(async () => {
		loading = true;
		todos = await loadTodos();
		loading = false;
	});
</script>

{#if loading}
	<main>
		Loading…
	</main>
{:else}
<main>
	<h1>My todos</h1>
	<ul class="list-disc list-inside">
		{#each todos as todo (todo.id)}
			<li class="list-item mt-1">
				<Todo todo={todo} deleteTodo={deleteTodo} toggleDone={toggleDone} />
			</li>
		{/each}
	</ul>

	<CreateTodo createTodo={createTodo} />
</main>
{/if}

<style global lang="postcss">
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		h1 {
			@apply text-2xl;
			@apply font-bold;
			@apply mb-3;
			@apply mt-2;
			text-align: center;
		}

		h2 {
			@apply text-xl;
			@apply font-semibold;
		}

		main {
			margin: auto;
			max-width: 1000px;
		}
	}
</style>