<script>
    export let createTodo = console.log;

    let newTodoTitle;
    let newTodoDone = false;

    function create(event) {
        event.preventDefault();
        if (!newTodoTitle) {
            return;
        }

        createTodo({ title: newTodoTitle, done: newTodoDone });
        newTodoTitle = "";
        newTodoDone = false;
    }
</script>

<form class="mt-3 bg-white w-full p-3" on:submit={create}>
    <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
            <label
                for="new-todo-title"
                class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
            >
                Create a new TODO
            </label>
        </div>
        <div class="md:w-2/3">
            <input
                id="new-todo-title"
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                bind:value={newTodoTitle}
                placeholder="New TODO"
            />
        </div>
    </div>

    <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3" />
        <label class="md:w-2/3 block text-gray-500 font-bold">
            <input class="mr-2 leading-tight" type="checkbox" bind:checked={newTodoDone} />
            <span class="text-sm">Is done?</span>
        </label>
    </div>

    <div class="md:flex md:items-center">
        <div class="md:w-1/3"></div>
        <div class="md:w-2/3">
          <button
            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
            type="submit"
        >
            Create
          </button>
        </div>
      </div>
</form>
