<script>
    export let todo;
    export let deleteTodo;
    export let toggleDone;
</script>

<h2 class="inline" class:done={todo.done}>{todo.title}</h2>
<button
    on:click={() => deleteTodo(todo)}
    class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
>Delete</button>
<button
    on:click={() => toggleDone(todo)}
    class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
>
    {#if todo.done}
        Mark as not done
    {:else}
        Mark as done
    {/if}
</button>

<style>
    .done {
        text-decoration: line-through;
    }
</style>
